/* Primary Header */
/* ----------------------------------------------------------*/
.primary-header {
	background-color: transparent;
	.form-control {
		height: 50px;
		widtH: 600px;
	}
}

/* Secondary Header */
/* ----------------------------------------------------------*/
.secondary-header {
	background-color: transparent;
		.form-control {
			height: 50px;
			widtH: 600px;
		}
}

/* Sidebar */
/* ----------------------------------------------------------*/

/* Footer */
/* ----------------------------------------------------------*/